@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

.home{
    display: flex;
    flex-direction: column;
}
.intro, .intro2, .contact{
font-family: 'Oranienbaum', serif;
position:relative;
left: 40rem;
top: 80px;
color: rgb(0, 0, 0);
}
.intro2{
    font-size:30px;
    color: rgba(49, 48, 49, 0.794);
    margin-left: 5rem;
}
.contact {
margin-left: 5rem;
}

.contact1, .contact2{
    text-decoration: none;
}

.homelogo{
margin-left: 10rem;
height:70vh; 
width:70vh; 
border-radius: 130rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    .home{
        display: flex;
        flex-direction: column;
    }
    .homelogo{
        margin-left: 2rem;
        height:10vh; 
        width: 12vh;
        }
        .intro, .intro2{
            font-family: 'Oranienbaum', serif;
            position:relative;
            left: 12rem;
            top: 80px;
            color: rgb(0, 0, 0);
            font-size:12px;
            }
            .intro2{
                font-size:9px;
                color: rgba(49, 48, 49, 0.794);
                margin-left: 5rem;
            }
            .contact {
                position:relative;
                left: 10rem;
                top: 10rem;
                }
}

