#app {
    height: 100%;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: rgb(255, 255, 255);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

.swiper {
    width: 90vh;
    height: 50vh;
    margin-top: 10rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background:  rgb(216, 149, 228);
    border: solid rgb(3, 0, 0);
    border-radius: 70px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 40vh;
    height: 30vh;
    object-fit:cover;
}

.slider2{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction:column;
}
